[submodule "protobuf/google"]
	path = protobuf/google
	url = https://github.com/googleapis/googleapis
  shallow = true
[submodule "protobuf/grpc"]
	path = protobuf/grpc
	url = https://github.com/grpc/grpc
  shallow = true
